


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path "j39osc618pe9ysi4b6jo", alt: "Logo"%>)" >

<div class="container">
    <h1> My Cocktails </h1>
  </div>
</div>


<div class="container">
  <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://www.saveur.com/sites/saveur.com/files/styles/1000_1x_/public/copper-king-6_2000x1500.jpg?itok=vMhh96oB&fc=50,50');">
            <div class="card-category">Popular</div>
            <div class="card-description">
              <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>




